<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Improve your profile</title>
    <link rel="stylesheet" type="text/css" href="../CSS/BasicRed.css">
</head>
<body>
<h3>Personal Information</h3>
<div id="editPerson">
    <br>
<form name="PersonalInformation">
    <label>
        Title*
        <input type="text" name="title">
    </label> <br>
    <label>
        First Name*
        <input type="text" name="firstname" aria-required="true">
    </label><br>
    <label>
        Last Name*
        <input type="text" name="lastname">
    </label><br>
    <label>
        Degree
        <input type="text" name="degree">
    </label><br>
    <label>
        Phone
        <input type="text" name="phone">
    </label><br>
    <form>
        <input type="radio" name="phoneType" value="mobile" checked> Mobile
        <input type="radio" name="phoneType" value="home"> Home
        <input type="radio" name="phoneType" value="work"> Other
    </form>
    <label>
        ORCID
        <input type="text" name="orcid">
    </label> <br>
    <button type="submit" formmethod="post" formaction="/personData" title="Update Personal Data">Update personal data
    </button>
</form>
<br>
<form action="/uploadPhoto" method="post" enctype="multipart/form-data">
    <input type="file" name="add picture" accept="image/*">
    <input type="submit" value="add picture">
</form>
    <br>
</div>
</body>
</html>