<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> welcome on SubService</title>
    <link rel="stylesheet" href="../CSS/BasicRed.css" type="text/css">
</head>
<body>

<div id="signIn">
    <form action="/sign_in_s" method="POST">
        <img src="../IMG/Co-Author.png">
        <h3>Sign in</h3>
        <div class="dvsinput">
            login: <input type="text" name="username" placeholder="user name">
            <br/>
            password:<input type="password" name="password" placeholder="password">
        </div>
        <div>
            <br/>
            <div class="centred">
                <input class="dws-submit" type="submit" name="submitUser">
            </div>
            <br>
            <a href="forgot.html" class="left"> Forgot password ?</a>
            <a href="signUp.html" class="right"> join us!</a>
            <br/>
        </div>
    </form>
</div>

</body>
</html>