<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> welcome on SubService</title>
    <link rel="stylesheet" href="../CSS/BasicRed.css" type="text/css">
</head>
<body>

<div id="signUp">
    <form action="/sign_up_s" method="POST">
        <img src="../IMG/join.jpg">
        <h3>Sign in</h3>
        <div class="dvsinput">
            login:
            <input type="text" name="username" placeholder="user name">
            <br>
            your email:
            <input type="email" name="email" placeholder="email">
            <br>
            your password:
            <input type="password" name="password" placeholder="password">
            <br>
            <input class="dws-submit" type="submit" name="submitUser">
            <br>
            <a href="signIn.html" class="left"> I have an account </a>
            <a href="forgot.html" class="right"> Forgot password ?</a>
            <br>
        </div>
    </form>
</div>

</body>
</html>