font {
    position: relative;
    font-family: verdana,helvetica,arial,sans-serif;
}
h4 { padding: 3px 3px 3px 10px;}

h3 {
    padding: 3px 3px 3px 10px;
    text-align: center;
}

p,div,td,ul,ol,li {font-size: 11pt; line-height: 130%;}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

input[type="email"],input[type="text"],input[type="password"]{
    width: 98%;
    height: 35%;
    font-size: 28px;
    border-radius: 4px;
}
img {
width: auto;
}
.dws-submit{
    padding: 13px 30px ;
    font-size: 36px;
    background-color: maroon;
    color: white;
}

div{
    background: #ffffff;
    font-weight: bold;
    font-size: 0.9em;
}
#editPerson{
    width: 370px;
    text-align: right;
    padding: 0 10px;
    color: #CF2C34;
    border: solid firebrick;
    margin: 0 auto;
}

#signIn{
    width: 370px;
    text-align: left;
    padding: 0 10px;
    color: #CF2C34;
    border: solid firebrick;
    margin: 0 auto;
}

#signUp{
    width: 370px;
    text-align: left;
    padding: 0 10px;
    color: #CF2C34;
    border: solid firebrick;
    margin: 0 auto;
}

img{width: auto}

#editInstitution{
    width: 360px;
    text-align: right;
    padding: 0 10px;
    color: #CF2C34;
    border: solid firebrick;
    margin: 0 auto;
}


ul{
    list-style-type:none;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.right { float: right; }.right:after { clear: both }
.left  { float:  left; }.left:after{clear: both}

/*--------------------------------------Menu-----------------------------*/
ul.menu {
    background-color: maroon;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(firebrick), to(maroon));
    background-image: -webkit-linear-gradient(firebrick, maroon);
    background-image: -moz-linear-gradient(top, firebrick, maroon);
    background-image: -ms-linear-gradient(firebrick, maroon);
    background-image: -o-linear-gradient(firebrick, maroon);
    background-image: linear-gradient(firebrick, maroon);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=maroon, endColorstr=firebrick, GradientType=0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    /*width: 900px;*/
    height: 36px;
}

ul.menu>li {
    float: left;
    list-style: none;
    border-right: 1px solid firebrick;
    position: relative;
}

ul.menu>li>a {
    color: white;
    display: block;
    padding: 8px 20px 10px;
    text-decoration: none;
    border-right: 1px solid maroon;
}

ul.menu>li>a:hover {
    background-color: firebrick;
}

ul.menu>li:first-child>a:hover {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

ul.menu>li>ul {
    display: none;
}

ul.menu>li:hover>ul {
    display: block;
    position: absolute;
    top: 36px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    background-color: firebrick;
    /*z-index: 1000;*/
}

ul.menu>li:hover>ul>li {
    float: none;
    /*width: 150px;*/
    list-style: none;
}

ul.menu>li:hover>ul>li>a {
    border-top: 1px solid firebrick;
    padding: 6px 20px 8px;
    display: block;
    color: white;
    text-decoration: none;
}

ul.menu>li:hover>ul>li>a:hover {
    background-color: transparent;
    color: #c1deff;
}