<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select the best toy!</title>
    <link rel="stylesheet" type="text/css" href="../CSS/BasicRed.css">
</head>
<body>
<ul class="menu">
    <li><a href="">Home</a></li>
    <li><a href="">Product Categories</a>
        <ul>
            <li><a href="">Bear toy</a></li>
            <li><a href="">Elephant toy</a></li>
            <li><a href="">Dog toy</a></li>
            <li><a href="">Rabbit toy</a></li>
            <li><a href="">Cat toy</a></li>
            <li><a href="">Monkey toy</a></li>
            <li><a href="">Mythical toy</a></li>
        </ul>
    </li>
    <li><a href="">Company information</a>
        <ul>
            <li><a href="">Company Overview</a></li>
            <li><a href="">Certification</a></li>
            <li><a href="">Capability</a></li>
            <li><a href="">Performance</a></li>
        </ul>
    </li>
    <li><a href="">Contacts</a></li>
</ul>
</body>
</html>